.popup{
    position: absolute;
    bottom: -103px;
    left: 25px;
    background-color: #4e4e4e;
    padding: 0px 10px 0px 10px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 99;
}
.popup:after {
    content: '';
    position: absolute;
    right: -1px;
    top: -65px;
    border: 50px solid transparent;
    border-bottom: 15px solid #4e4e4e;
}
.popup ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.popup li {
    padding: 5px;
}
.popup li:hover {
    cursor: pointer;
    color:#da4a52;
}
.popup li:nth-child(1), .popup li:nth-child(2) {
    border-bottom: 1px solid #fff;
}
.pacifier {
    width: 120px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 100;
}
/* .pacifier:hover ~ .popup, .pacifier ~ .popup:hover {
    visibility: visible;
    opacity: 1;
} */
.pacifier:hover {
    cursor: pointer;
}
.lk{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.lk-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 40px;
    z-index: 50;
}
.lk img{
    height: 95%;
    width: auto;
    border-radius: 50%;
}
.lk-onClk{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    border-radius: 7px;
}
.lk p{
    display: flex;
    height: 80%;
    width: auto;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 0 0 10px;
}

.lk-header{
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #bc2a3a;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    border-radius: 8px 8px 0 0;
}
.lk-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lk-block-data{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
}
.lk-block-orders{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;
    width: 60%;
    height: 100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
}
.lk-block-orders img{
    width: 100px;
    height: 100px;
    margin: 0 0 0 15px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}
.lk-block-body{
    background-color: white;
    border-radius: 0 0 8px 8px;
}
.lk-block-body img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.lk-block-body p{
    font-size: 20px;
    margin:0;
}
.lk-suborder-header p{
    font-size: 20px;
    background-color: #bc2a3a;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    color: white;
    padding: 5px 15px 5px 15px;
    margin: 0;
}
.lk-order-description, .lk-basket-description {
    margin: 0;
    width: 100%;
    z-index: 400;
    display: flex; 
    flex-direction: row; 
    padding: 10px 0 10px 0;
    border-bottom: 1px solid lightgray;
}

.lk-basket-description:hover{
    cursor: pointer;
    margin: 0;
    width: 100%;
    display: flex; 
    flex-direction: row;  
    border-radius: 8px 8px 8px 8px; 
    box-shadow: 0 0 5px 0 rgba(0,0,0,1);    
}
.lk-order-description p{
    margin: 0;
}
.lk-suborder-body {
    font-size: 17px;
    margin: 0;
}
#Nope {
    font-size: 17px;
    margin: 1px 1px 1px 10px;
}

#pen_name{
    padding: 3px; 
    width: 20px; 
    height: 20px; 
    border-radius: 8px 0 8px 0; 
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
#pen_name:hover{
    padding: 3px; 
    width: 20px; 
    height: 20px; 
    border-radius: 8px 0 8px 0; 
    box-shadow: 0 0 8px 0 rgba(0,0,0,1);    
}
#pen_address{
    padding: 3px; 
    width: 20px; 
    height: 20px; 
    border-radius: 8px 0 8px 0; 
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
#pen_address:hover{
    padding: 3px; 
    width: 20px; 
    height: 20px; 
    border-radius: 8px 0 8px 0; 
    box-shadow: 0 0 8px 0 rgba(0,0,0,1); 
}

#save_name{
    display: none; 
    padding: 0.1px; 
    width: 20px; 
    height: 20px; 
    border-radius: 8px 0 8px 0; 
    margin: 0 0 0 3px; 
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
#save_name:hover{
    box-shadow: 0 0 8px 0 rgba(0,0,0,1); 
}

#save_address{
    display: none; 
    padding: 0.1px; 
    width: 20px; 
    height: 20px; 
    border-radius: 8px 0 8px 0; 
    margin: 0 0 0 3px; 
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
#save_address:hover{
    display: none; 
    padding: 0.1px; 
    width: 20px; 
    height: 20px; 
    border-radius: 8px 0 8px 0; 
    margin: 0 0 0 3px; 
    box-shadow: 0 0 8px 0 rgba(0,0,0,1);   
}

.orderOk, #leave-lk, #inp-yes, #inp-no, #inp-yes-or, #inp-no-or, .fav-buy{
    color: white;
    background-color: #bc2a3a;
    border-radius: 8px;
    border: 0;
    z-index: 900;
    padding: 0 10px 0 10px; 
}
.orderOk:hover, #leave-lk:hover, #inp-yes:hover, #inp-no:hover, #inp-yes-or:hover, #inp-no-or:hover, .fav-buy:hover{
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    z-index: 900;
}
.orderOk:active, #leave-lk:active, #inp-yes:active, #inp-no:active, #inp-yes-or:active, #inp-no-or:active, .fav-buy:active{
    box-shadow: inset 1px 1px 5px -1px lightgray;
    z-index: 900;
}
.orderOk:focus, #leave-lk:focus, #inp-yes:focus, #inp-no:focus, #inp-yes-or:focus, #inp-no-or:focus, .fav-buy:focus{
    outline: none;
    z-index: 900;
}
.popup-order, .popup-order-lk{
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    display: none;
    border: 1px solid grey;
    position: absolute;
    padding: 0px 10px 0px 10px;
    background-color: white;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#Errors, #Errors-reg, #tnx, #email-er{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Errors p, #Errors-reg p, #tnx p, #email-er p{
    text-align: center;
    color: red;
}




