body, html{ height:100% }
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "PT Sans","Helvetica","Arial",sans-serif;
    background-color: #f6f6f6;
}
.content-wrap{
    flex-grow: 1;
    padding-bottom: 30px;
}

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bc2a3a;
    height: 60px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
}
.logo img{
    height: 100%;
    width: auto;
}
.logo img:hover{
    cursor: pointer;
    height: 100%;
    width: auto;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
.search-text{
    border: 0;
    border-radius: 4px 0 0 4px;
    width: 80%;
    height: 36px;
    padding-left: 15px;
}
.search-btn{
    width: 20%;
    height: 36px;
    border: 0;
    border-radius: 0 4px 4px 0;
    background-color: #da4a52;
    color: #fff;
}
.add_product-btn{
    width: 20%;
    height: 36px;
    border: 0;
    border-radius: 0 4px 4px 0;
    background-color: #da4a52;
    color: #fff;
}
.lk{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}
.lk-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30%;
    background-color: #fff;
    border-radius: 40px;
    margin: 5px 0;
}
.lk img{
    height: 80%;
    width: auto;
}

/* nav menu */

.nav-wrap{
    margin-top: 30px;
}
.nav_links {
    color: #666
}
.nav_link:hover {
    text-decoration: none;
    color: #bc2a3a;
    cursor: pointer;
}

/* main content */

.main{
    margin-top: 20px;
}

.section-title{
    line-height: 32px;
    font-size: 24px;
    font-weight: bold;
    color: #4e4e4e;
}

/* categoryes */

.categoryes{
    margin-top: 20px;
}
.category {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
}
.category:hover {
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.05), 0 29px 26px 0 rgba(0,0,0,0.08);
}
.empty {
    display: none;
}
.category-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
}
.category-img img{
    height: 100%;
    width: auto;
}
.category-title{
    font-size: 16px;
    font-weight: bold;
}

/* products grid */

.product {
    height: 200px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    margin: 20px 0;
    border-radius: 8px;
}
.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 170px;
    margin: 15px;
}
.product-img:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 170px;
    margin: 15px;
}

.product-img img{
    height: 100%;
    width: auto;
}
.product-desc {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.product-name {
    font-size: 22px;
    color: #333;
}
.product-name:hover {
    cursor: pointer;
    color: #bc2a3a;
}
.product-features{
    font-size: 14px;
    color: #4e4e4e;
    margin-top: 30px;
    height: 80px;
}
.buy-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
}
.buy-img-wrap img{
    width:auto; 
    height:100%;
}
.buy-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.product-price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 33%;
    margin-top: 20px;
}
.favorite {
    height: 40px;
    width: 40px;
    margin-top: 30px;
}
.favorite:hover{ 
    width: 37px; 
    height: 37px; 
    cursor: pointer;
}
.buy{
    height: 40px;
    width: 40px;
    margin-top: 10px;
     
}

.buy:hover{ 
    width: 37px; 
    height: 37px; 
    cursor: pointer;
}

/* product */

.product-wrap {
    margin-top: 20px;
    height: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px inset;
}

.prod-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 370px;
    margin: 15px;
}

.prod-img:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 370px;
    margin: 15px;
}

.prod-img img{
    height: auto;
    width: auto;
}

.prod-buy {
    height: 400px;
}
.price {
    margin-top: 30px;
    font-size: 38px;
    font-weight: bold;
}
.deliv {
    margin-top: 40px;
}
.deliv:before {
    font-family: FontAwesome;
    font-size: 16px;
    content:"\f0d1";
    margin-right: 10px;
}

.garant {
    margin-top: 10px;
    color: #777
}
.to-basket {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    background-color: #bc2a3a;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,1);
    box-shadow: 1px 1px 4px -1px rgba(0,0,0,1);
    overflow: hidden;
}
.to-basket:before {
	font-family: FontAwesome;
    content:"\f07a";
    color: #fff;
	position: absolute;
	top: 240px;
	left: -30px;
	transition: all 200ms ease;
}
.to-basket:hover {
	cursor: pointer;
}
.to-basket:hover:before {
	left: 26px;
}

.fav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: #4e4e4e;
    font-size: 22px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #bc2a3a;
    border-radius: 8px;
}
.fav:before{
    font-family: FontAwesome;
    content:"\f004";
    color: #4e4e4e;
    margin-right: 10px;
}
.fav:hover {
    cursor: pointer;
    color: #fff;
    background-color: #bc2a3a;
    -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,1);
    box-shadow: 1px 1px 4px -1px rgba(0,0,0,1);
}
.fav:hover:before {
    color: #fff;
}
.fav img {
    height: auto;
    width: 25px;
    margin-right: 5px;
}

.characteristics-title{
    margin-top: 20px;
    line-height: 32px;
    font-size: 24px;
    font-weight: normal;
    color: #4e4e4e;
}

.characteristics {
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}
.characteristic-name {
    overflow: hidden;
    width: 100%;
}
.characteristic-value {
    width: 100%;
}

/* footer */

footer {
    background-color: #333333;
    height: 50px;
    width: 100%;
}
.development {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-title{
    display: flex;
    align-items: center;
    height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.footer-developers{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

@media (min-width: 369px) {
    .category {
        width: 100%;
        height: 263px;
    }
}
@media (max-width: 368px) {
    .category {
        width: 100%;
        height: 330px;
    }
}
